
body{
	box-sizing: border-box;
	margin:0;
}
#head{
	border:2px solid blue;
	width: 100%;
}
.row{
	width: 100%;
}
#logo{
	background: url('../images/logo.png') no-repeat;
	width: 200px;
	height: 200px;
	border:2px solid red;
}